#  служебные файлы кроме __init__.py
.DS_Store
db.sqlite3
github_token.txt
mgd/.env
tour/migrations/*.*
tour/templates/old/*.*
# locale/

__*
!__init__.py

#  отдельные конкретно указанные папки или файлы
.idea/
venv/

#  файлы медиа
*.xml
*.png
*.jpg
*.gif
*.tif
*.rtf
*.doc
*.doco
*.xls
*.xlsx
*.jpeg