{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<div class="detail-body">
    <div class="detail-title">[-{% translate "activity" %}-][pk={{ object.pk }}]</div>
    <div class="detail-item">{{ object.name }}</div>
    <div class="detail-item">{{ object.description }}</div>
    <div class="detail-item">[<a href="/activity/{{ object.slug }}/guides/">{{ object.name }} {% translate "guides" %}</a>]</div>
    <div class="detail-item">[<a href="/activity/{{ object.slug }}/tours/">{{ object.name }} {% translate "tours" %}</a>]</div>
    <div class="detail-item">[<a href="/activity/{{ object.slug }}/continents/">{{ object.name }} {% translate "continents" %}</a>]</div>
    <div class="detail-item">[<a href="/activity/{{ object.slug }}/countries/">{{ object.name }} {% translate "countries" %}</a>]</div>
    <div class="detail-item">[<a href="/activity/{{ object.slug }}/regions/">{{ object.name }} {% translate "regions" %}</a>]</div>
    <div class="detail-item">[<a href="/activity/{{ object.slug }}/places/">{{ object.name }} {% translate "places" %}</a></div>
    <div class="detail-item">{% translate "Created" %}: {{ object.date_created }}</div>
</div>
{% endblock %}