{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
[-{% translate "activity" %}-][pk={{ object.pk }}]<br>

{{ object.name }}<br>
{{ object.description }}<br>

[<a href="/activity/{{ object.slug }}/guides/">{{ object.name }} {% translate "guides" %}</a>]
[<a href="/activity/{{ object.slug }}/tours/">{{ object.name }} {% translate "tours" %}</a>]
[<a href="/activity/{{ object.slug }}/continents/">{{ object.name }} {% translate "continents" %}</a>]
[<a href="/activity/{{ object.slug }}/countries/">{{ object.name }} {% translate "countries" %}</a>]
[<a href="/activity/{{ object.slug }}/regions/">{{ object.name }} {% translate "regions" %}</a>]
[<a href="/activity/{{ object.slug }}/places/">{{ object.name }} {% translate "places" %}</a>]

<br>
{% translate "Created" %}: {{ object.date_created }}<br>
{% endblock %}