<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="В горы с Белоусовым">
    <meta name="keywords" content="Горы Альпнизм Восхождение Монблан Альпы Гид Инструктор, Горная школа, Школа альпинизма">
    <meta name="robots" content="none">
    <meta name="Author" content="Belousov Vladimir">
    <meta name="Copyright" content="Belousov Vladimir">
    <meta name="Address" content="74310, 366 Avenue de la Gare, Les Houches Le Lac, France">
    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    {% load i18n %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block title %}<title>{% translate "Mountain guide" %}</title>{% endblock %}
</head>
<body>

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="{% translate 'Go' %}">
</form>
[<a href="/admin/">{% translate "Admin" %}</a>]
[<a href="/">{% translate "Index" %}</a>]
[<a href="/tours/">{% translate "Tours" %}</a>]
[<a href="/activities/">{% translate "Activities" %}</a>]
[<a href="/continents/">{% translate "Continents" %}</a>]
[<a href="/countries/">{% translate "Countries" %}</a>]
[<a href="/regions/">{% translate "Regions" %}</a>]
[<a href="/places/">{% translate "Places" %}</a>]
[<a href="/tour-objects/">{% translate "Tour Objects" %}</a>]
[<a href="/routes/">{% translate "Routes" %}</a>]
[<a href="/tourings/">{% translate "Tourings" %}</a>]
[<a href="/guides/">{% translate "Our Guides" %}</a>]
[<a href="/site_statistics/">{% translate "Site statistics" %}</a>]
<hr>
{% block content %}
{% endblock %}
<hr>
[<a href="/admin/">{% translate "Admin" %}</a>]
[<a href="/">{% translate "Index" %}</a>]
[<a href="/tours/">{% translate "Tours" %}</a>]
[<a href="/activities/">{% translate "Activities" %}</a>]
[<a href="/continents/">{% translate "Continents" %}</a>]
[<a href="/countries/">{% translate "Countries" %}</a>]
[<a href="/regions/">{% translate "Regions" %}</a>]
[<a href="/places/">{% translate "Places" %}</a>]
[<a href="/tour-objects/">{% translate "Tour Objects" %}</a>]
[<a href="/routes/">{% translate "Routes" %}</a>]
[<a href="/tourings/">{% translate "Tourings" %}</a>]
[<a href="/guides/">{% translate "Our Guides" %}</a>]
[<a href="/site_statistics/">{% translate "Site statistics" %}</a>]
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
</html>