{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<div class="global-list">
    <div class="page-title">[-{{ list_title }}-]</div>
    <div class="global-list-header">Name</div>
    {% for obj in objects %}
        <div class="global-list-item">
            {% if list_title == 'routes' %}
                [<a href="{{ obj.tour_object.get_absolute_url }}">{{ obj.tour_object }}</a>]-
            {% endif %}
            [<a href="{{ obj.get_absolute_url }}">{{ obj }}</a>]
        </div>
    {% empty %}
        <div class="global-list-item">[-{% translate "no entry" %}-]</div>
    {% endfor %}
</div>
{% endblock %}