{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<div class="detail-body">
    <div class="detail-title">{{ object.name }}</div>
    <div class="detail-item">{{ object.qualification }}</div>
    <div class="detail-item">{{ object.birth_date }}</div>
    <div class="detail-item">[<a href="{{ object.country.get_absolute_url }}">{{ object.country }}</a>]</div>
    <div class="detail-item">{{ object.about_me }}</div>
    <div class="detail-item">[<a href="/guide/{{ object.slug }}/activities/">{{ object.name }} {% translate "activities" %}</a>]</div>
    <div class="detail-item">[<a href="/guide/{{ object.slug }}/tours/">{{ object.name }} {% translate "tours" %}</a>]</div>
    <div class="detail-item">[<a href="/guide/{{ object.slug }}/continents/">{{ object.name }} {% translate "continents" %}</a>]</div>
    <div class="detail-item">[<a href="/guide/{{ object.slug }}/countries/">{{ object.name }} {% translate "countries" %}</a>]</div>
    <div class="detail-item">[<a href="/guide/{{ object.slug }}/regions/">{{ object.name }} {% translate "regions" %}</a>]</div>
    <div class="detail-item">[<a href="/guide/{{ object.slug }}/places/">{{ object.name }} {% translate "places" %}</a>]</div>
    <div class="detail-item">[<a href="/guide/{{ object.slug }}/tour-objects/">{{ object.name }} {% translate "tour objects" %}</a>]</div>
    <div class="detail-item">[<a href="/guide/{{ object.slug }}/routes/">{{ object.name }} {% translate "routes" %}</a>]</div>
    <div class="detail-item">{% translate "Created" %}: {{ object.date_created }}</div>
</div>
{% endblock %}