{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
[-{% translate "guide" %}-][pk={{ object.pk }}]<br>
{{ object.name }}<br>
{{ object.qualification }}<br>
{{ object.birth_date }}<br>
[<a href="{{ object.country.get_absolute_url }}">{{ object.country }}</a>]<br>
{{ object.about_me }}<br>
[<a href="/guide/{{ object.slug }}/activities/">{{ object.name }} {% translate "activities" %}</a>]
[<a href="/guide/{{ object.slug }}/tours/">{{ object.name }} {% translate "tours" %}</a>]
[<a href="/guide/{{ object.slug }}/continents/">{{ object.name }} {% translate "continents" %}</a>]
[<a href="/guide/{{ object.slug }}/countries/">{{ object.name }} {% translate "countries" %}</a>]
[<a href="/guide/{{ object.slug }}/regions/">{{ object.name }} {% translate "regions" %}</a>]
[<a href="/guide/{{ object.slug }}/places/">{{ object.name }} {% translate "places" %}</a>]
<br>
{% translate "Created" %}: {{ object.date_created }}
{% endblock %}