{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<div class="detail-body">
    <div class="detail-title">{{ object.name }}</div>
    <div class="detail-item">{{ object.description }}</div>
    <div class="detail-item">altitude: {{ object.altitude }}</div>
    <div class="detail-item">{{ object.name }} <a href="{{ object.web_link }}" target="_blank">web site</a></div>
    {% for plc in object.default_place.all %}
    <div class="detail-item">
        [<a href="{{ plc.region.country.continent.get_absolute_url }}">{{ plc.region.country.continent }}</a>]
        [<a href="{{ plc.region.country.get_absolute_url }}">{{ plc.region.country }}</a>]
        [<a href="{{ plc.region.get_absolute_url }}">{{ plc.region }}</a>]
        [<a href="{{ plc.get_absolute_url }}">{{ plc }}</a>]
    </div>
    {% endfor %}
    <div class="detail-item">[<a href="/refuge/{{ object.slug }}/activities/">{{ object.name }} {% translate "activities" %}</a>]</div>
    <div class="detail-item">[<a href="/refuge/{{ object.slug }}/guides/">{{ object.name }} {% translate "guides" %}</a>]</div>
    <div class="detail-item">[<a href="/refuge/{{ object.slug }}/tours/">{{ object.name }} {% translate "tours" %}</a>]</div>
    <div class="detail-item">[<a href="/refuge/{{ object.slug }}/tour-objects/">{{ object.name }} {% translate "tour objects" %}</a>]</div>
    <div class="detail-item">[<a href="/refuge/{{ object.slug }}/routes/">{{ object.name }} {% translate "routes" %}</a>]</div>
    <div class="detail-item">{% translate "Created" %}: {{ object.date_created }}</div>
</div>
{% endblock %}