{% extends "base_generic.html" %}
{% block content %}
[-region-][pk={{ object.pk }}]<br>
{{ object.name }}<br>
{{ object.description }}<br>
[<a href="{{ object.country.get_absolute_url }}">{{ object.country }}</a>]<br>
[<a href="{{ object.country.continent.get_absolute_url }}">{{ object.country.continent }}</a>]<br>
[<a href="/region/{{ object.slug }}/activities/">{{ object.name }} activities</a>]
[<a href="/region/{{ object.slug }}/guides/">{{ object.name }} guides</a>]
[<a href="/region/{{ object.slug }}/places/">{{ object.name }} places</a>]
[<a href="/region/{{ object.slug }}/tour-objects/">{{ object.name }} tour-objects</a>]
[<a href="/region/{{ object.slug }}/routes/">{{ object.name }} routes</a>]
[<a href="/region/{{ object.slug }}/tours/">{{ object.name }} tours</a>]
<br>
Created: {{ object.date_created }}
{% endblock %}