{% extends "base_generic.html" %}
{% block content %}
[-route-][pk={{ object.pk }}]<br>
{{ object.name }}<br>
{{ object.description }}<br>
[<a href="{{ object.tour_object.get_absolute_url }}">{{ object.tour_object }}</a>]<br>
{% for plc in object.place.all %}
[<a href="{{ plc.get_absolute_url }}">{{ plc }}</a>]-[<a href="{{ plc.region.get_absolute_url }}">{{ plc.region }}</a>]-[<a href="{{ plc.region.country.get_absolute_url }}">{{ plc.region.country }}</a>]-[<a href="{{ plc.region.country.continent.get_absolute_url }}">{{ plc.region.country.continent }}</a>]
<br>
{% empty %}
[no places]<br>
{% endfor %}
Created: {{ object.date_created }}<br>
{% endblock %}