{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<div class="detail-body">
    <div class="detail-title">{{ object.name }}</div>
    <div class="detail-item">{{ object.description }}</div>
    <div class="detail-item">[<a href="{{ object.tour_object.get_absolute_url }}">{{ object.tour_object }}</a>]</div>
    <div class="detail-item">
        {% for plc in object.place.all %}
            [<a href="{{ plc.get_absolute_url }}">{{ plc }}</a>]-[<a href="{{ plc.region.get_absolute_url }}">{{ plc.region }}</a>]-[<a href="{{ plc.region.country.get_absolute_url }}">{{ plc.region.country }}</a>]-[<a href="{{ plc.region.country.continent.get_absolute_url }}">{{ plc.region.country.continent }}</a>]
        {% empty %}
            [{% translate "empty list" %}]
        {% endfor %}
    </div>
    <div class="detail-item">[<a href="/route/{{ object.slug }}/tours/">{% translate "Tours" %}</a>]</div>
    <div class="detail-item">[<a href="/route/{{ object.slug }}/guides/">{% translate "Guides" %}</a>]</div>
    <div class="detail-item">{% translate "Created" %}: {{ object.date_created }}</div>
</div>
{% endblock %}