{% extends "base_generic.html" %}
{% block content %}
[-site statistics-]
<br>
<a href="/activities/">activities</a>: {{ activities }}<br>
<a href="/continents/">continents</a>: {{ continents }}<br>
<a href="/countries/">countries</a>: {{ countries }}<br>
<a href="/regions/">regions</a>: {{ regions }}<br>
<a href="/places/">places</a>: {{ places }}<br>
<a href="/tour-objects/">tour-objects</a>: {{ tour_objects }}<br>
<a href="/routes/">routes</a>: {{ routes }}<br>
<a href="/tourings/">tourings</a>: {{ tourings }}<br>
<a href="/guides/">guides</a>: {{ guides }}<br>
<a href="/tours/">tours</a>: {{ tours }}<br>
{% endblock %}