{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<div class="detail-title">[-{% translate "site statistics" %}-]</div>
<div class="detail-body">
    <div class="detail-item"><a href="/activities/">{% translate "activities" %}</a>: {{ activities }}</div>
    <div class="detail-item"><a href="/continents/">{% translate "continents" %}</a>: {{ continents }}</div>
    <div class="detail-item"><a href="/countries/">{% translate "countries" %}</a>: {{ countries }}</div>
    <div class="detail-item"><a href="/regions/">{% translate "regions" %}</a>: {{ regions }}</div>
    <div class="detail-item"><a href="/places/">{% translate "places" %}</a>: {{ places }}</div>
    <div class="detail-item"><a href="/refuges/">{% translate "refuges" %}</a>: {{ refuges }}</div>
    <div class="detail-item"><a href="/tour-objects/">{% translate "tour-objects" %}</a>: {{ tour_objects }}</div>
    <div class="detail-item"><a href="/routes/">{% translate "routes" %}</a>: {{ routes }}</div>
    <div class="detail-item"><a href="/guides/">{% translate "guides" %}</a>: {{ guides }}</div>
    <div class="detail-item"><a href="/tours/">{% translate "tours" %}</a>: {{ tours }}</div>
</div>
{% endblock %}