{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
[-{% translate "tour" %}-][pk={{ object.pk }}]<br>
{{ object.name }}<br>
{% if object.start_date and object.end_date %}{{ object.start_date }}- {{ object.end_date }}
{% else %}
{% translate "dates to be confirmed" %}
{% endif %}
<br>
{% for act in object.activity.all %}
[<a href="{{ act.get_absolute_url }}">{{ act }}</a>]
{% if forloop.last %}<br>{% endif %}
{% endfor %}
{% for tbj in object.tour_object.all %}
[<a href="{{ tbj.get_absolute_url }}">{{ tbj }}</a>]
{% if forloop.last %}<br>{% endif %}
{% endfor %}
{% for rt in object.route.all %}
[<a href="{{ rt.get_absolute_url }}">{{ rt }}</a>]
{% if forloop.last %}<br>{% endif %}
{% endfor %}
{% if object.touring %}
[<a href="{{ object.touring.get_absolute_url }}">{{ object.touring }}</a>]
<br>
{% endif %}
{% for plc in object.place.all %}
[<a href="{{ plc.get_absolute_url }}">{{ plc }}</a>]
{% if forloop.last %}<br>{% endif %}
{% endfor %}
{% for plc in object.place.all %}
[<a href="/region/{{ plc.region.slug }}/">{{ plc.region }}</a>]
{% if forloop.last %}<br>{% endif %}
{% endfor %}
{% for plc in object.place.all %}
[<a href="/country/{{ plc.region.country.slug }}/">{{ plc.region.country }}</a>]
{% if forloop.last %}<br>{% endif %}
{% endfor %}
{% for plc in object.place.all %}
{% ifchanged %}
[<a href="/continent/{{ plc.region.country.continent.slug }}/">{{ plc.region.country.continent }}</a>]
{% endifchanged %}
{% if forloop.last %}<br>{% endif %}
{% endfor %}
{% for gd in object.guide.all %}
[<a href="{{ gd.get_absolute_url }}">{{ gd }}</a>]
{% if forloop.last %}<br>{% endif %}
{% endfor %}
{% if object.description %}{% translate "Tour description" %}: {{ object.description }}<br>{% endif %}
{% if object.day_set %}
{% for day in object.day_set.all %}
{% if forloop.first %}{% translate "Program by days" %}:<br>{% endif %}
[{{ day }}]-[{{ day.interary }}]<br>
{% endfor %}
{% endif %}
{% if object.danger_caution %}{% translate "Danger caution" %}:  {{ object.danger_caution }}<br>{% endif %}
{% if object.typical_weather %}{% translate "Weather" %}: {{ object.typical_weather }}<br>{% endif %}
{% if object.medical_insurance %}{% translate "Insurance" %}: {{ object.medical_insurance }}<br>{% endif %}
{% if object.responsability %}{% translate "Responsability" %}: {{ object.responsability }}<br>{% endif %}
{% if object.accomodation %}{% translate "Accomodation" %}: {{ object.accomodation }}<br>{% endif %}
{% if object.food %}{% translate "Food" %}: {{ object.food }}<br>{% endif %}
{% if object.add_info %}{% translate "Additional info" %}: {{ object.add_info }}<br>{% endif %}
{% for eq in object.equipment_list.all %}
{% if forloop.first %}{% translate "Equipment" %}:{% endif %}
[{{ eq }}]
{% if forloop.last %}<br>{% endif %}
{% endfor %}
{% for doc in object.travel_documents.all %}
{% if forloop.first %}{% translate "Travel Documents" %}:{% endif %}
[{{ doc }}]
{% if forloop.last %}<br>{% endif %}
{% endfor %}
{% if object.physical_level %}{% translate "Physical Level" %}:  {{ object.physical_level }}<br>{% endif %}
{% if object.difficulty_level %}{% translate "Difficulty Level" %}:  {{ object.difficulty_level }}<br>{% endif %}
{% if object.time_hours %}{% translate "Time" %}: {{ object.time_hours }}<br>{% endif %}
{% if object.min_altitude_m %}{% translate "Altitude min" %}: {{ object.min_altitude_m }}<br>{% endif %}
{% if object.max_altitude_m %}{% translate "Altitude max" %}: {{ object.max_altitude_m }}<br>{% endif %}
{% if object.altitude_gain_m %}{% translate "Altitude gain" %}: {{ object.altitude_gain_m }}<br>{% endif %}
{% if object.total_km %}{% translate "Total distance" %}: {{ object.total_km }}<br>{% endif %}
{% if object.client_guide_ratio %}{% translate "Guide-Client ratio" %}: {{ object.client_guide_ratio }}<br>{% endif %}
{% translate "Availability" %}: {{ object.get_availability }}<br>
{% if object.show_price %}
{% if object.price %}{% translate "Price" %}: {{ object.price }}{% if object.currency %}{{ object.currency }}{% endif %}{% endif %}
{% if object.get_availability > 0 and object.allow_booking %}<a href="/participate/{{ object.pk }}/">{% translate "Book" %}</a>{% endif %}
<br>
{% if object.price_include %}{% translate "Includes" %}: {{ object.price_include }}<br>{% endif %}
{% if object.price_exclude %}{% translate "Excludes" %}: {{ object.price_exclude }}<br>{% endif %}
{% endif %}
{% translate "Created" %}: {{ object.date_created }}
{% endblock %}
