{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
[-{% translate "tour-object" %}-][pk={{ object.pk }}]<br>
{{ object.name }}<br>
{% translate "alt" %}. {{ object.altitude }} {% translate "m" %}<br>
{{ object.description }}<br>
{% for plc in object.place.all %}
[<a href="{{ plc.get_absolute_url }}">{{ plc }}</a>]-[<a href="{{ plc.region.get_absolute_url }}">{{ plc.region }}</a>]-[<a href="{{ plc.region.country.get_absolute_url }}">{{ plc.region.country }}</a>]-[<a href="{{ plc.region.country.continent.get_absolute_url }}">{{ plc.region.country.continent }}</a>]
{% empty %}
[{% translate "empty list" %}]
{% endfor %}
<br>
[<a href="/tour-object/{{ object.slug }}/routes/">{% translate "Routes" %}</a>]
[<a href="/tour-object/{{ object.slug }}/places/">{% translate "Places" %}</a>]
[<a href="/tour-object/{{ object.slug }}/tours/">{% translate "Tours" %}</a>]
[<a href="/tour-object/{{ object.slug }}/guides/">{% translate "Guides" %}</a>]
<br>
{% translate "Created" %}: {{ object.date_created }}<br>
{% endblock %}