{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<div class="main-body" id="slide-in-2">
    <div class="tour-list">
        <div class="tour-header">
            <div class="tour-header-cell flex-10">
                Начало
                <a href="#" onclick="SortBy('start_date')"><i class="arrow up"></i></a>
                <a href="#" onclick="SortBy('-start_date')"><i class="arrow down"></i></a>
            </div>
            <div class="tour-header-cell flex-10">
                Окончание
                <a href="#" onclick="SortBy('end_date')"><i class="arrow up"></i></a>
                <a href="#" onclick="SortBy('-end_date')"><i class="arrow down"></i></a>
            </div>
            <div class="tour-header-cell flex-50">
                Тур
                <a href="#" onclick="SortBy('name')"><i class="arrow up"></i></a>
                <a href="#" onclick="SortBy('-name')"><i class="arrow down"></i></a>
            </div>
            <div class="tour-header-cell flex-20">Страна</div>
            <div class="tour-header-cell flex-10">
                Цена, EUR
                <a href="#" onclick="SortBy('price')"><i class="arrow up"></i></a>
                <a href="#" onclick="SortBy('-price')"><i class="arrow down"></i></a>
            </div>
        </div>
        {% for calendar_event in filter.qs %}
        <div class="tour-item">
            <div class="tour-item-cell flex-10">
                {{ calendar_event.start_date }}
            </div>
            <div class="tour-item-cell flex-10">
                {{ calendar_event.end_date }}
            </div>
            <div class="tour-item-cell flex-50">
                <a href="{{ calendar_event.tour.get_absolute_url }}">{{ calendar_event.tour }}</a>
            </div>
            <div class="tour-item-cell flex-20">
                {% for ctr in calendar_event.tour.country.all %}
                    <a href="{{ ctr.get_absolute_url }}">[{{ ctr }}]</a>
                {% endfor %}
            </div>
            <div class="tour-item-cell flex-10">{{ calendar_event.tour.price }}</div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="slide-panel" id="toggle">
    <i class="arrow right"></i>
</div>
<div class="right-panel" id="slide-in">
    <div class="filter">
        <form method="get" action="." id="id-filter-form">
            <div class="form-row">
                 <select name="o" id="id_o" hidden>
                    {% for choice in filter.form.o %}
                    {{ choice.tag }} {{ choice.choice_label }}
                    {% endfor %}
                 </select>
            </div>
            <div class="form-row">
                {{ filter.form.search.label_tag }}
                {{ filter.form.search }}
            </div>
            <div class="form-row">
                <label for="id_start_date">Даты: </label>
                {{ filter.form.start_date }}
                {{ filter.form.end_date }}
            </div>
            <div class="form-row">
                <label for="id_tour__price__gt">Цена: </label>
                {{ filter.form.tour__price__gt }}
                {{ filter.form.tour__price__lt }}
            </div>
            <div class="form-row">
                <label class="label-click" for="id_tour__difficulty_level">Уровень сложности <i class="arrow down"></i></label>
            </div>
            <div class="form-row row-slide">
                 <select name="tour__difficulty_level" id="id_tour__difficulty_level" multiple size="5">
                    {% for choice in filter.form.tour__difficulty_level %}
                    {{ choice.tag }}{{ choice.choice_label }}
                    {% endfor %}
                 </select>
            </div>
            <div class="form-row">
                <label class="label-click" for="id_tour__physical_level">Физическая подготовка <i class="arrow down"></i></label>
            </div>
            <div class="form-row row-slide">
                 <select name="tour__physical_level" id="id_tour__physical_level" multiple size="5">
                    {% for choice in filter.form.tour__physical_level %}
                    {{ choice.tag }}{{ choice.choice_label }}
                    {% endfor %}
                 </select>
            </div>
            <div class="form-row">
                <label class="label-click" class="row-click" for="id_tour__guide">Гиды <i class="arrow down"></i></label>
            </div>
            <div class="form-row row-slide">
                 <select name="tour__guide" id="id_tour__guide" multiple size="5">
                    {% for choice in filter.form.tour__guide %}
                    {{ choice.tag }} {{ choice.choice_label }}
                    {% endfor %}
                 </select>
            </div>
            <div class="form-row">
                <label class="label-click" for="id_tour__activity">Вид активности <i class="arrow down"></i></label>
            </div>
            <div class="form-row row-slide">
                 <select name="tour__activity" id="id_tour__activity" multiple size="5">
                    {% for choice in filter.form.tour__activity %}
                    {{ choice.tag }}{{ choice.choice_label }}
                    {% endfor %}
                 </select>
            </div>
            <div class="form-row">
                <label class="label-click" for="id_tour__continent">Континент <i class="arrow down"></i></label>
            </div>
            <div class="form-row row-slide">
                 <select name="tour__continent" id="id_tour__continent" multiple size="5">
                    {% for choice in filter.form.tour__continent %}
                    {{ choice.tag }} {{ choice.choice_label }}
                    {% endfor %}
                 </select>
            </div>
            <div class="form-row">
                <label class="label-click" for="id_tour__country">Страны <i class="arrow down"></i></label>
            </div>
            <div class="form-row row-slide">
                 <select name="tour__country" id="id_tour__country" multiple size="5">
                    {% for choice in filter.form.tour__country %}
                    {{ choice.tag }} {{ choice.choice_label }}
                    {% endfor %}
                 </select>
            </div>
            <div class="form-row">
                <label class="label-click" for="id_tour__region">Регионы <i class="arrow down"></i></label>
            </div>
            <div class="form-row row-slide">
                 <select name="tour__region" id="id_tour__region" multiple size="5">
                    {% for choice in filter.form.tour__region %}
                    {{ choice.tag }} {{ choice.choice_label }}
                    {% endfor %}
                 </select>
            </div>
            <div class="form-row">
                <label class="label-click" for="id_tour__place">Места <i class="arrow down"></i></label>
            </div>
            <div class="form-row row-slide">
                 <select name="tour__place" id="id_tour__place" multiple size="5">
                    {% for choice in filter.form.tour__place %}
                    {{ choice.tag }} {{ choice.choice_label }}
                    {% endfor %}
                 </select>
            </div>
            <div class="form-row">
                <label class="label-click" for="id_tour__tourevent__tour_object">Объекты <i class="arrow down"></i></label>
            </div>
            <div class="form-row row-slide">
                 <select name="tour__tourevent__tour_object" id="id_tour__tourevent__tour_object" multiple size="5">
                    {% for choice in filter.form.tour__tourevent__tour_object %}
                    {{ choice.tag }} {{ choice.choice_label }}
                    {% endfor %}
                 </select>
            </div>
            <div class="form-row">
                <label class="label-click" for="id_tour__tourevent__route">Маршруты <i class="arrow down"></i></label>
            </div>
            <div class="form-row row-slide">
                 <select name="tour__tourevent__route" id="id_tour__tourevent__route" multiple size="5">
                    {% for choice in filter.form.tour__tourevent__route %}
                    {{ choice.tag }} {{ choice.choice_label }}
                    {% endfor %}
                 </select>
            </div>
            <div class="form-row">
                <label class="label-click" for="id_tour__refuge">Приюты <i class="arrow down"></i></label>
            </div>
            <div class="form-row row-slide">
                 <select name="tour__refuge" id="id_tour__refuge" multiple size="5">
                    {% for choice in filter.form.tour__refuge %}
                    {{ choice.tag }} {{ choice.choice_label }}
                    {% endfor %}
                 </select>
            </div>
            <div class="form-row">
                <button type="submit" value="Submit">{% translate "Filter" %}</button>
                <a href=".">{% translate "Clear filters" %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}