{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<div class="detail-body">
    <div class="detail-title">{{ object.name }}</div>
    <div class="detail-item">
        {% for act in object.get_activities %}[<a href="{{ act.get_absolute_url }}">{{ act }}</a>]{% endfor %}
    </div>
    {% if object.tourevent_set %}
    <div class="detail-item">
        {% for te in object.tourevent_set.all %}
        {% if forloop.first %}{% translate "Events (e.g. - climbs)" %}:{% endif %}
        <div class="detail-item-list">
            {% if te.event_type == 'acclimatization' %}Acclimatization{% endif %}
            <a href="{{ te.tour_object.get_absolute_url }}">[{{ te.tour_object }} ({{ te.tour_object.altitude }}m)]</a> - <a href="{{ te.route.get_absolute_url }}">[{{ te.route }}]</a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="detail-item">
        {% for rfg in object.get_refuges %}[<a href="{{ rfg.get_absolute_url }}">{{ rfg }}</a>]{% endfor %}
    </div>
    <div class="detail-item">
        {% for plc in object.get_places %}[<a href="{{ plc.get_absolute_url }}">{{ plc }}</a>]{% endfor %}
    </div>
    <div class="detail-item">
        {% for rg in object.get_regions %}[<a href="/region/{{ rg.slug }}/">{{ rg }}</a>]{% endfor %}
    </div>
    <div class="detail-item">
        {% for ctr in object.get_countries %}[<a href="/country/{{ ctr.slug }}/">{{ ctr }}</a>]{% endfor %}
    </div>
    <div class="detail-item">
        {% for cnt in object.get_continents %}[<a href="/continent/{{ cnt.slug }}/">{{ cnt }}</a>]{% endfor %}
    </div>
    <div class="detail-item">
        {% for gd in object.guide.all %}[<a href="{{ gd.get_absolute_url }}">{{ gd }}</a>]{% endfor %}
    </div>
    {% if object.description %}
    <div class="detail-item">{% translate "Tour description" %}: {{ object.description }}
    </div>
    {% endif %}
    {% if object.day_set %}
    <div class="detail-item">
        {% for day in object.day_set.all %}
        {% if forloop.first %}{% translate "Program by days" %}:{% endif %}
        <div class="detail-item-list">[{{ day }}]</div>
        <div class="detail-item-list-body">[{{ day.interary }}]</div>
        <div class="detail-item-list-metrics">
            {% if day.ascent > 0 %}набор: [{{ day.ascent }}] m{% endif %}
            {% if day.ascent_time > 0%}, время на набор: [{{ day.ascent_time_minutes }}]{% endif %}
            {% if day.descent > 0 %}, сброс: [{{ day.descent }}] m{% endif %}
            {% if day.descent_time > 0%}, время на сброс: [{{ day.descent_time_minutes }}]{% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if object.danger_caution %}
    <div class="detail-item">{% translate "Danger caution" %}:  {{ object.danger_caution }}</div>
    {% endif %}
    {% if object.typical_weather %}
    <div class="detail-item">{% translate "Weather" %}: {{ object.typical_weather }}</div>
    {% endif %}
    {% if object.medical_insurance %}
    <div class="detail-item">{% translate "Insurance" %}: {{ object.medical_insurance }}</div>
    {% endif %}
    {% if object.responsability %}
    <div class="detail-item">{% translate "Responsability" %}: {{ object.responsability }}</div>
    {% endif %}
    {% if object.accomodation %}
    <div class="detail-item">{% translate "Accomodation" %}: {{ object.accomodation }}</div>
    {% endif %}
    {% if object.food %}
    <div class="detail-item">{% translate "Food" %}: {{ object.food }}</div>
    {% endif %}
    {% if object.add_info %}
    <div class="detail-item">{% translate "Additional info" %}: {{ object.add_info }}</div>
    {% endif %}
    <div class="detail-item">
        {% for eq in object.get_equipment_list %}
        {% if forloop.first %}{% translate "Equipment" %}:{% endif %}
        <div class="detail-item-list">[{{ eq }}]</div>
        {% endfor %}
    </div>
    <div class="detail-item">
        {% for doc in object.travel_documents.all %}
        {% if forloop.first %}{% translate "Travel Documents" %}:{% endif %}
        <div class="detail-item-list">[{{ doc }}]</div>
        {% endfor %}
    </div>
    {% if object.get_physical_level %}
    <div class="detail-item">{% translate "Physical Level" %}:  {{ object.get_physical_level }}</div>
    {% endif %}
    {% if object.get_difficulty_level %}
    <div class="detail-item">{% translate "Difficulty Level" %}:  {{ object.get_difficulty_level }}</div>
    {% endif %}
    {% if object.get_guide_client_ratio %}
    <div class="detail-item">{% translate "Guide-Client ratio" %}: {{ object.get_guide_client_ratio }}</div>
    {% endif %}
    <div class="detail-item">
        {% for event_dates in object.calendar_set.all %}
        {% if forloop.first %}{% translate "Dates & Availability" %}:{% endif %}
        <div class="detail-item-list">
            [
            {% if event_dates.start_date and event_dates.end_date %}{{ event_dates.start_date }} - {{ event_dates.end_date }}
            {% else %}{{ event_dates.note }}
            {% endif %}
            (av. {{ event_dates.get_availability }})]
            {% if event_dates.get_availability > 0 and object.allow_booking %}
                <a href="/participate/{{ event_dates.pk }}/">{% translate "Book" %}</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% if object.show_price %}
    {% if object.price %}
    <div class="detail-item">{% translate "Price" %}: {{ object.price }}{% if object.currency %}{{ object.currency }}{% endif %}</div>
    {% endif %}
    {% if object.priceoption_set %}
    <div class="detail-item">
        {% for incl in object.priceoption_set.all %}
        {% if forloop.first %}{% translate "Includes" %}:{% endif %}
        {% if incl.list_type == 'includes' %}<div class="detail-item-list">[{{ incl }}]</div>{% endif %}
        {% endfor %}
    </div>
    <div class="detail-item">
        {% for excl in object.priceoption_set.all %}
        {% if forloop.first %}{% translate "Excludes" %}:{% endif %}
        {% if excl.list_type == 'excludes' %}<div class="detail-item-list">[{{ excl }}]</div>{% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% endif %}
    <div class="detail-item">{% translate "Created" %}: {{ object.date_created }}</div>
</div>
{% endblock %}